*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.slogan .nav1 a{
	font-family: "Poppins" , sans-serif;
}
body{
	min-height: 100vh;
	background: linear-gradient(0deg, rgb(204, 130, 86), rgb(250, 240, 229));
	background-image: url(/img/LogoSALS1.png);
	color: rgb(7, 24, 39);
	background-size: cover;
	background-position: center;
}

header{
	/*background:#54575a;*/
	background:linear-gradient(0deg, rgb(176 180 193), rgb(212 216 224));
	height: 100px;
}
header img {
	width: 100px;
	height: 100px;
	max-height: 90px;
	margin: 0px;
	margin-left: 80px;
	border-radius: 50%;

	border: 3px solid ;
}

.nav1 img {
	/*	width: 100px;
	height: 100px;*/
	max-height: 90px;
	margin: 5px;
	margin-left: 20px;
	border-radius: 0%;
	border: 3px solid ;

}

header h1{
	text-align: center;
	font-weight: 500;
	font-size: 20px;
	padding-bottom: 23px;
	font-family: sans-serif;
	letter-spacing: 2px;
	color: black;
}
.menu{
	width: 100%;
	margin-top: 30px;
}
.menu .item{
	position: relative;
	cursor: pointer;
}
.menu .item a{
	color:#b45050;
	/*	font-size: 14px;*/
	font-family: cursive;
	font-weight: bold;
	text-decoration: none;
	display: block;
	padding: 5px 15px;
	line-height: 60px;
}

.slogan {
	text-align:start;
	font-size: 35px;
	font-family: "Dancing Script", cursive;
	text-shadow: 1px 1px #eff4f8;
}

.logoetat {
    display: flex;
    align-items: center;
}

.logoetat img {
    margin-right: 10px; /* Espace entre l'image et le texte */
}

.logoetat h3 {
    margin: 0; /* Supprime les marges par défaut du h3 */
}

.nav1 .slogan a{
	color: black;
}

thead th {
	background-color:rgba(204, 130, 86,0.9);
	position: sticky;
	top: 0;
	color: rgb(16, 59, 97);
	width: 200px;
	height: 15px;
	text-align: center;

	
}

.th ,.td{
	height: 16px;
	padding: 0;
}

.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
    padding: 2px;
    line-height: 1.42857143;
}

.T1 {
    color: rgb(16, 109, 66);
    width: 50px;
    font-size:15px ;

}

.T2{
	width: auto;
	font-size:15px ;
	font-family:sans-serif;
	color: black;
    width: 200px;
}
.T3{
	width: 160px;
	font-size:15px ;
	font-family: sans-serif;
	color: black;
    text-align: center;
}
.T4{
	width: 100px;
	font-size:15px ;
	font-family: sans-serif;
	color: black;
    text-align: center;
}

.T5{
	width: 100px;
	font-size:15px ;
	font-family: sans-serif;
	font-size: 15px;
    text-align: center;
	color: black;
}
.T6{
	width: 190px;
	font-size:15px ;
	font-family: sans-serif;
	color: black;
    text-align: center;
}

.T7{
	width: 150px;
	font-size:16px ;
	font-family: sans-serif;
	color: black;
}

.T8{
	width: 50px;
	font-size:16px ;
	font-family: sans-serif;
	color: black;
}
td{

	font-size: 15px;
}

.fa-2x{
	font-size: 17px ;
	cursor: pointer;
}

.btn-quitte{
	align-items: flex-end;
	cursor: pointer;
}

.form-control1{
	text-align: left;
		padding: 4px 10px;
		font-size: 12px;
}
#ecode .form-control{
	text-align: left;
}

.input-group-addon {
    padding: 2px 12px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1;
    color: #555;
    text-align: center;
    background-color: #eee;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.well {
    min-height: 20px;
    padding: 1px;
    margin-bottom: 20px;
    background-color: #f5f5f5;
    border: 1px solid #e3e3e3;
    border-radius: 4px;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
}
.d-flex{
	border: 1px solid black;
	margin: 8px;
}
.dv{
	border: 1px solid black;
	margin: 5px;
}
.dv1{
	border: 1px solid black;
}

.total {
	display: flex;
	flex-direction: row;
	border: 1px solid black;
	margin: 5px;
  }